/* TODO: insert default styles of your component here for easy access */

.notification {
    border-radius: 0.25rem;
    padding: 0.9375rem;
    border: #000 1px solid;
    background: lightgreen;
}

.notification_dismiss {
    float: right;
    position: relative;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    cursor: pointer;
    background: unset;
}

.notification_dismiss:hover {
    opacity: 0.5;
}
